USE [NexgenQMS]
GO
/****** Object:  StoredProcedure [dbo].[spNGQMS_GetWorkingDate]    Script Date: 6/5/2026 2:54:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- AUTHOR	  	: Sriram.C
-- CREATE DATE	: 02-11-2017
-- DESCRIPTION	: To fetch the Working Day.

-- DEPENDENCY	: 
-- *********************    
-- TYPE					RESPONSIBLE BY   	CALLED BY    
-- PAGE					Eswar.P

-- MODIFICATION HISTORY:    
-- *********************    
-- DATE					MODIFIED BY			CHANGE DESCRIPTION    
-- DD-MMM-YYYY       	Name	     		INITIAL RELEASE
-- =============================================
/*
declare @workingDate DATE
EXEC [dbo].[spNGQMS_GetWorkingDate] '11/03/2017' ,@workingDate output
select  @workingDate
*/
ALTER PROCEDURE [dbo].[spNGQMS_GetWorkingDate]
@givenDate DATE,
@workingDate DATE Output
AS
BEGIN

	/* SET NOCOUNT ON added to prevent extra result sets from
	   interfering with SELECT statements.
	*/
	SET NOCOUNT ON;

	IF exists(select * from HRMS.dbo.tblHolidays where IsActive=1 and Holiday=@givenDate)
	begin
		SET @givenDate = DateAdd(day,1,@givenDate)
		IF (DATENAME(dw , @givenDate) = 'Friday') 
		BEGIN 
			SET @workingDate = DATEADD(day, 3, @givenDate) 
		END 
		ELSE IF (DATENAME(dw , @givenDate) = 'Saturday') 
		BEGIN 
			SET @workingDate = DATEADD(day, 2, @givenDate) 
		END 
		ELSE  
		BEGIN 
			SET @workingDate = DATEADD(day, 1, @givenDate) 
		END 
	END
	ELSE
	BEGIN
		IF (DATENAME(dw , @givenDate) = 'Friday') 
		BEGIN 
			SET @workingDate = DATEADD(day, 3, @givenDate) 
		END 
		ELSE IF (DATENAME(dw , @givenDate) = 'Saturday') 
		BEGIN 
			SET @workingDate = DATEADD(day, 2, @givenDate) 
		END 
		ELSE  
		BEGIN 
			SET @workingDate = DATEADD(day, 1, @givenDate) 
		END 
	END
END



