USE [NexgenQMSParallon]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Declare
	@pAuditFormID		INT=2240
   ,@pWorkedByID		INT	=37155
   ,@pQMSSchemaName		VARCHAR(250)='NexGenQMSParallon.FCInpParallonIPCAC'
   ,@pFlag				INT=1
BEGIN

	SET NOCOUNT ON;
	set XACT_ABORT on
	DECLARE @UploadTypeID					TINYINT
		   ,@Columns						NVARCHAR(MAX)
		   ,@Query							NVARCHAR(MAX)
		   ,@RebuttalFeedbackWhereCondition NVARCHAR(250)
		   ,@RebuttalAgentWhereCondition	NVARCHAR(250)
		   ,@RebuttalLeadWhereCondition	NVARCHAR(250)
		   ,@RebuttalWhereCondition	NVARCHAR(250)
		   ,@ReportingAuthorityID			INT
		   ,@IsReportingAuthorityID			BIT=0
		   ,@Vertical						CHAR(2)
		   ,@Feedback						NVARCHAR(250);
		
	DROP TABLE IF EXISTS #tblOpenAccountDetail;

	SELECT @ReportingAuthorityID=ISNULL(ReportingAuthorityID,0) FROM HRMS.dbo.tblEmployees WHERE EmployeeID=@pWorkedByID;
	
	IF EXISTS(SELECT TOP 1 EmployeeID FROM HRMS.dbo.tblEmployees WHERE ReportingAuthorityID=@pWorkedByID)
	BEGIN
		SET @IsReportingAuthorityID = 1;
	END

	SELECT 
		@UploadTypeID= UT.UploadTypeID
	FROM NexgenQMS.dbo.tblPGAuditForms PGAF
		INNER JOIN NexgenQMS.dbo.tblPGUploadTemplates PGUT
			ON PGAF.UploadTemplateID=PGUT.UploadTemplateID
		INNER JOIN NexgenQMS.dbo.tblUploadTypes UT
			ON PGUT.UploadTypeID=UT.UploadTypeID
	WHERE PGAF.AuditFormID=@pAuditFormID;

	SELECT  
		@Vertical=cd.vertical
	FROM Nexgen.dbo.tblcodingdatabases cd
		INNER JOIN nexgen.dbo.tblprojectgroups pg
			ON pg.databaseid=cd.databaseid
		INNER JOIN nexgenqms.dbo.tblpgauditforms af
			ON af.projectgroupid=pg.projectgroupid
	WHERE cd.vertical IN('FC','PC')
			AND af.AuditFormID=@pAuditFormID;

	
IF(@Vertical = 'FC' OR @Vertical='PC')
BEGIN
	IF(@pFlag=3)
	BEGIN
		SET @Feedback='INNER JOIN '+@pQMSSchemaName+'.tblClientAuditRebuttalHistories CRH ON CRH.AuditUploadAccountID=AUA.AuditUploadAccountID';
	END
	ELSE
	BEGIN
		SET @Feedback='INNER JOIN '+@pQMSSchemaName+'.tblClientAuditRebuttals CRH ON CRH.AuditUploadAccountID=AUA.AuditUploadAccountID';
	END

	IF(@UploadTypeID!=2)
		BEGIN
			SELECT 
				 1 Errorcode
				,'Given Audit Form does not belongs to Client Feedback' Errorstatus;
		END

		SELECT
			@Columns=CONCAT(@Columns,'AUA.',QUOTENAME(UC.UploadColumnName),',') 
		FROM NexgenQMS.dbo.tblPGAuditForms PGAF
				INNER JOIN NexgenQMS.dbo.tblPGUploadTemplates PGUT
					ON PGAF.UploadTemplateID=PGUT.UploadTemplateID
				INNER JOIN NexgenQMS.dbo.tblClientFeedbackColumns CFC
					ON PGUT.UploadTemplateID=CFC.UploadTemplateID
				INNER JOIN NexgenQMS.dbo.tblUploadColumns UC
					ON CFC.UploadColumnID=UC.UploadColumnID
			WHERE PGAF.AuditFormID=@pAuditFormID;

		SELECT 
			@Columns=LEFT(@Columns,LEN(@Columns)-1);

		
		SELECT @RebuttalFeedbackWhereCondition = ' FeedbackAssignedTo=@pWorkedByID AND ISNULL(FeedbackAssignedTo,0) > 0 AND ISNULL(ClientAuditRebuttalStatusID,0) <> 6'	
			,@RebuttalWhereCondition =(CASE @pFlag WHEN 1 THEN ' ISNULL(AssignedFrom,0) = 0 AND ISNULL(ClientAuditRebuttalStatusID,0) = 6 '
						WHEN 2 THEN ' ISNULL(AssignedFrom,0) > 0 AND ISNULL(ClientAuditRebuttalStatusID,0) = 6 '
						ELSE ' ISNULL(ClientAuditRebuttalStatusID,0) = 6 ' END);

						
		SELECT @Query = ' DECLARE @AgentOpenAccountCount INT, @LeadOpenAccountCount INT, @AgentPendingAccountCount INT, @FeedbackAccountCount INT;

							SELECT
								 AUA.AuditUploadAccountID  
								,AUA.AuditUploadID
								,UP.AuditFormID
								,'+@Columns+'
								,CRH.AssignedFrom
								,CRH.AssignedTo
								,CRH.ClientAuditRebuttalStatusID
								,0 AS IsSelected
								,( CASE WHEN @pFlag = 3 THEN ISNULL(CRF.HasRead,0) ELSE 0 END )AS IsViewed
								,CRF.AssignedTo AS FeedbackAssignedTo
							INTO #tblOpenAccountDetail
							FROM NexgenQMS.dbo.tblAuditUploads UP
								INNER JOIN '+@pQMSSchemaName+'.tblAuditUploadAccounts AUA ON UP.AuditUploadID=AUA.AuditUploadID
								--INNER JOIN '+@pQMSSchemaName+'.tblClientAuditRebuttalHistories CRH ON CRH.AuditUploadAccountID=AUA.AuditUploadAccountID	
								--INNER JOIN '+@pQMSSchemaName+'.tblClientAuditRebuttals CRH ON CRH.AuditUploadAccountID=AUA.AuditUploadAccountID	
								'+@Feedback+'
								LEFT JOIN '+@pQMSSchemaName+'.tblClientAuditRebuttalFeedbacks CRF ON CRF.AuditUploadAccountID=AUA.AuditUploadAccountID
							WHERE AUA.IsError in(0,1) AND UP.AuditFormID=@pAuditFormID;

							SELECT @AgentOpenAccountCount = COUNT(AuditUploadAccountID) FROM #tblOpenAccountDetail WHERE ISNULL(AssignedFrom,0) = 0 AND ISNULL(AssignedTo,0) = @pWorkedByID AND '+ CAST(@RebuttalWhereCondition AS NVARCHAR(250)) +';

							SELECT @LeadOpenAccountCount = COUNT(AuditUploadAccountID) FROM #tblOpenAccountDetail WHERE ISNULL(AssignedFrom,0) > 0 AND ISNULL(AssignedTo,0) = @pWorkedByID AND '+ CAST(@RebuttalWhereCondition AS NVARCHAR(250)) +';

							SELECT @AgentPendingAccountCount = COUNT(AuditUploadAccountID) FROM #tblOpenAccountDetail WHERE ISNULL(AssignedFrom,0) = @pWorkedByID
																AND ISNULL(AssignedTo,0) = @ReportingAuthorityID 

							SELECT @FeedbackAccountCount = COUNT(FeedbackAssignedTo) FROM #tblOpenAccountDetail WHERE AssignedTo=@pWorkedByID AND '+ CAST(@RebuttalFeedbackWhereCondition AS NVARCHAR(250)) +';

							SELECT (
									SELECT 
											(
												SELECT										
													 ISNULL(@AgentOpenAccountCount,0) AS AgentOpenAccountCount
													,ISNULL(@LeadOpenAccountCount,0) AS LeadOpenAccountCount
													,ISNULL(@AgentPendingAccountCount,0) AS AgentPendingAccountCount													
													,(CASE @pFlag WHEN 2 THEN 0 ELSE ISNULL(@FeedbackAccountCount,0) END ) AS FeedbackAccountCount							
													,(''/rebut/clientfeedbackrebuttalagent'') AS AgentURL
													,(''/rebut/clientfeedbackrebuttalteamlead'') AS LeadURL
												FOR JSON PATH
											) AS [AccountCountDetail],
											(
												SELECT
													 AuditUploadAccountID 
													,AuditUploadID
													,AuditFormID
													,'+REPLACE(@Columns,'AUA.','')+'
													,IsSelected
													,IsViewed
												FROM #tblOpenAccountDetail WHERE AssignedTo=@pWorkedByID AND '+ CAST((CASE @pFlag WHEN 3 THEN @RebuttalFeedbackWhereCondition  ELSE @RebuttalWhereCondition END) AS NVARCHAR(250)) +'		
												FOR JSON PATH
											) AS [AccountDetail]
									FOR JSON path
								) AS [AuditAccountDetails];';
		

		EXECUTE sp_executesql @Query,N'@Vertical CHAR(2)
									,@pFlag INT
									,@pWorkedByID INT 
									,@pAuditFormID INT
									,@ReportingAuthorityID INT'
								,@Vertical
								,@pFlag
								,@pWorkedByID
								,@pAuditFormID
								,@ReportingAuthorityID;
END
ELSE
BEGIN
	IF(@UploadTypeID!=2)
		BEGIN
			SELECT 
				 1 Errorcode
				,'Given Audit Form does not belongs to Client Feedback' Errorstatus;
		END

		SELECT
			@Columns=CONCAT(@Columns,'AUA.',QUOTENAME(UC.UploadColumnName),',') 
		FROM NexgenQMS.dbo.tblPGAuditForms PGAF
				INNER JOIN NexgenQMS.dbo.tblPGUploadTemplates PGUT
					ON PGAF.UploadTemplateID=PGUT.UploadTemplateID
				INNER JOIN NexgenQMS.dbo.tblClientFeedbackColumns CFC
					ON PGUT.UploadTemplateID=CFC.UploadTemplateID
				INNER JOIN NexgenQMS.dbo.tblUploadColumns UC
					ON CFC.UploadColumnID=UC.UploadColumnID
			WHERE PGAF.AuditFormID=@pAuditFormID;

		SELECT 
			@Columns=LEFT(@Columns,LEN(@Columns)-1);

		
		SELECT @RebuttalFeedbackWhereCondition = ' FeedbackAssignedTo=@pWorkedByID AND ISNULL(FeedbackAssignedTo,0) > 0 AND ISNULL(ClientAuditRebuttalStatusID,0) <> 6'	
			,@RebuttalWhereCondition =(CASE @pFlag WHEN 1 THEN ' ISNULL(AssignedFrom,0) = 0 AND ISNULL(ClientAuditRebuttalStatusID,0) = 6 '
						WHEN 2 THEN ' ISNULL(AssignedFrom,0) > 0 AND ISNULL(ClientAuditRebuttalStatusID,0) = 6 '
						ELSE ' ISNULL(ClientAuditRebuttalStatusID,0) = 6 ' END);

		SELECT @Query = ' DECLARE @AgentOpenAccountCount INT, @LeadOpenAccountCount INT, @AgentPendingAccountCount INT, @FeedbackAccountCount INT;

						  SELECT
								 AUA.AuditUploadAccountID  
								,AUA.AuditUploadID
								,UP.AuditFormID
								,'+@Columns+'
								,CRH.AssignedFrom
								,CRH.AssignedTo
								,CRH.ClientAuditRebuttalStatusID
								,0 AS IsSelected
								,( CASE WHEN @pFlag = 3 THEN ISNULL(CRF.HasRead,0) ELSE 0 END )AS IsViewed
								,CRF.AssignedTo AS FeedbackAssignedTo
							INTO #tblOpenAccountDetail
							FROM NexgenQMS.dbo.tblAuditUploads UP
								INNER JOIN '+@pQMSSchemaName+'.tblAuditUploadAccounts AUA ON UP.AuditUploadID=AUA.AuditUploadID
								INNER JOIN '+@pQMSSchemaName+'.tblClientAuditRebuttalHistories CRH ON CRH.AuditUploadAccountID=AUA.AuditUploadAccountID	
								LEFT JOIN '+@pQMSSchemaName+'.tblClientAuditRebuttalFeedbacks CRF ON CRF.AuditUploadAccountID=AUA.AuditUploadAccountID
							WHERE AUA.IsError = 1 AND UP.AuditFormID=@pAuditFormID;

							SELECT @AgentOpenAccountCount = COUNT(AuditUploadAccountID) FROM #tblOpenAccountDetail WHERE ISNULL(AssignedFrom,0) = 0 AND ISNULL(AssignedTo,0) = @pWorkedByID AND '+ CAST(@RebuttalWhereCondition AS NVARCHAR(250)) +';

							SELECT @LeadOpenAccountCount = COUNT(AuditUploadAccountID) FROM #tblOpenAccountDetail WHERE ISNULL(AssignedFrom,0) > 0 AND ISNULL(AssignedTo,0) = @pWorkedByID AND '+ CAST(@RebuttalWhereCondition AS NVARCHAR(250)) +';

							SELECT @AgentPendingAccountCount = COUNT(AuditUploadAccountID) FROM #tblOpenAccountDetail WHERE ISNULL(AssignedFrom,0) = @pWorkedByID
																AND ISNULL(AssignedTo,0) = @ReportingAuthorityID 

							SELECT @FeedbackAccountCount = COUNT(FeedbackAssignedTo) FROM #tblOpenAccountDetail WHERE AssignedTo=@pWorkedByID AND '+ CAST(@RebuttalFeedbackWhereCondition AS NVARCHAR(250)) +';

							SELECT (
									SELECT 
											(
												SELECT										
													 ISNULL(@AgentOpenAccountCount,0) AS AgentOpenAccountCount
													,ISNULL(@LeadOpenAccountCount,0) AS LeadOpenAccountCount
													,ISNULL(@AgentPendingAccountCount,0) AS AgentPendingAccountCount													
													,(CASE @pFlag WHEN 2 THEN 0 ELSE ISNULL(@FeedbackAccountCount,0) END ) AS FeedbackAccountCount							
													,(''/rebut/clientfeedbackrebuttalagent'') AS AgentURL
													,(''/rebut/clientfeedbackrebuttalteamlead'') AS LeadURL
												FOR JSON PATH
											) AS [AccountCountDetail],
											(
												SELECT
													 AuditUploadAccountID 
													,AuditUploadID
													,AuditFormID
													,'+REPLACE(@Columns,'AUA.','')+'
													,IsSelected
													,IsViewed
												FROM #tblOpenAccountDetail WHERE AssignedTo=@pWorkedByID AND '+ CAST((CASE @pFlag WHEN 3 THEN @RebuttalFeedbackWhereCondition  ELSE @RebuttalWhereCondition END) AS NVARCHAR(250)) +'		
												FOR JSON PATH
											) AS [AccountDetail]
									FOR JSON path
								) AS [AuditAccountDetails];';
		

		EXECUTE sp_executesql @Query,N'@pFlag INT
									,@pWorkedByID INT 
									,@pAuditFormID INT
									,@ReportingAuthorityID INT'
								,@pFlag
								,@pWorkedByID
								,@pAuditFormID
								,@ReportingAuthorityID;
END
END


