USE [NexgenQMS]
GO
/****** Object:  StoredProcedure [dbo].[spNGQMS_PostPendingAccountDetails]    Script Date: 6/5/2026 5:02:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- AUTHOR	  	: Naveen Kumar P
-- CREATE DATE	: 09-10-2018
-- DESCRIPTION	: 

-- DEPENDENCY	: 
-- *********************    
-- TYPE					RESPONSIBLE BY   	CALLED BY    
-- PAGE					

-- MODIFICATION HISTORY:    
-- *********************    
-- DATE					MODIFIED BY			CHANGE DESCRIPTION    
-- DD-MMM-YYYY       	Name	     		INITIAL RELEASE
-- =============================================
/*
EXEC spNGQMS_PendingDetails 6297,60,1067080,0,1,18446,'IR',1
*/
ALTER PROCEDURE [dbo].[spNGQMS_PostPendingAccountDetails] 

	 @pProjectGroupID INT
	,@pAuditFormID	  INT
	,@pAccountid      INT
	,@pAuditID		  INT
	,@pAuditLevel	  TINYINT
	,@pEmployeeID	  INT
	,@pForceType	  CHAR(3)
	,@pISInsert		  TINYINT--1-insert,0-delete,2-Next rebuttal flow
AS
BEGIN
	SET NOCOUNT ON ;

 BEGIN TRY
	BEGIN TRAN
	DECLARE		@ForcedOnEST   DATETIME
			   ,@ForcedOnAST   DATETIME
			   ,@ForcedOnIST   DATETIME
			   ,@ProcedureName VARCHAR(100)='spNGQMS_PostPendingAccountDetails'
			   ,@ErrorMessage  NVARCHAR(MAX)='';
		

	SET @ForcedOnEST =  HRMS.dbo.fnHRMS_ConvertEST(GETDATE())
	SET @ForcedOnAST =  HRMS.dbo.fnHRMS_ConvertGMT(GETDATE())
	SET @ForcedOnIST =  HRMS.dbo.fnHRMS_ConvertIST(GETDATE())

		
		IF @pISInsert = 1 --Insert the value based on forcetype
		BEGIN

		 --IF @pForceType<>'MFA'--Other than MarkforAudit Forcingtype
		 --BEGIN
				
				INSERT INTO dbo.tblPendingDetails
						(
						 ProjectGroupID
						,AuditFormID
						,AccountID
						,AuditID
						,AuditLevel
						,EmployeeID
						,ForcingType
						,ForcedOnEST
						,ForcedOnAST
						,ForcedOnIST
						)
					SELECT @pProjectGroupID
						  ,@pAuditFormID
						  ,@pAccountid
						  ,@pAuditID
						  ,@pAuditLevel
						  ,@pEmployeeID
						  ,@pForceType
						  ,@ForcedOnEST
						  ,@ForcedOnAST
						  ,@ForcedOnIST
		
		END
		ELSE IF @pISInsert = 2 --update  Next rebuttal flow
		BEGIN
			 IF @pForceType='CR'
			 BEGIN
				UPDATE 
					PD
				SET 
					PD.EmployeeID=@pEmployeeID
				   ,PD.ForcedOnAST=@ForcedOnAST
				   ,PD.ForcedOnEST=@ForcedOnEST
				   ,PD.ForcedOnIST=@ForcedOnIST
				FROM dbo.tblPendingDetails PD
				WHERE  pd.ProjectGroupID = @pProjectGroupID 
						AND pd.AuditFormID	  = @pAuditFormID 
						AND pd.AccountID	  = @pAccountid  
						--AND pd.AuditLevel     = @pAuditLevel
						AND pd.ForcingType    = @pForceType
						--AND pd.Employeeid     = @pEmployeeID
			 END
			 ELSE
			 BEGIN
				UPDATE 
					PD
				SET 
					PD.EmployeeID=@pEmployeeID
				   ,PD.ForcedOnAST=@ForcedOnAST
				   ,PD.ForcedOnEST=@ForcedOnEST
				   ,PD.ForcedOnIST=@ForcedOnIST
				FROM dbo.tblPendingDetails PD
				WHERE Pd.AuditID=@pAuditID
						AND pd.ProjectGroupID = @pProjectGroupID 
						AND pd.ForcingType=@pForceType
			 END

		END
		ELSE IF @pISInsert = 0--Delete Logic When Closed Account
		BEGIN
			IF @pForceType<>'MFA'
			BEGIN

				IF ISNULL(@pEmployeeID,0)=0
				BEGIN
					DELETE 
					FROM dbo.tblPendingDetails 
					WHERE ProjectGroupID = @pProjectGroupID 
							AND AuditFormID = @pAuditFormID 
							AND AccountID	= @pAccountid  
							AND AuditLevel  = @pAuditLevel 
							AND ForcingType = @pForceType
				END
				ELSE
				BEGIN
					DELETE 
					FROM dbo.tblPendingDetails 
					WHERE ProjectGroupID = @pProjectGroupID 
							AND AuditFormID = @pAuditFormID 
							AND AccountID	= @pAccountid  
							AND AuditLevel  = @pAuditLevel 
							AND ForcingType = @pForceType
							AND Employeeid  = @pEmployeeID
				END
			END
			ELSE
			BEGIN
				DELETE 
				FROM dbo.tblPendingDetails 
				WHERE ProjectGroupID = @pProjectGroupID 
						AND AuditLevel  = @pAuditLevel 
						AND ForcingType = 'MFA'
						AND Employeeid  = @pEmployeeID
			END
		END
	COMMIT TRAN
  END TRY
  BEGIN CATCH

	IF @@TRANCOUNT>0
		ROLLBACK TRAN

	SELECT @ErrorMessage=ERROR_MESSAGE() ;			
		
		EXEC NexgenQMS.dbo.[spNGQMS_InsertNexgenQMSErrorLog]  @ProcedureName
												   ,NULL
												   ,@ErrorMessage
												   ,@pEmployeeID
												   ,@ForcedOnIST
												   ,@pAuditformID
												   ,@pAccountid ;
  END CATCH
END						
 



