USE [NexgenQMSParallon]
GO
/****** Object:  StoredProcedure [FCInpParallonIPCAC].[spNGQMS_SaveClientFeedbackRebuttalDetail]    Script Date: 6/5/2026 2:29:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [FCInpParallonIPCAC].[spNGQMS_SaveClientFeedbackRebuttalDetail]
	 @pAuditUploadAccountID				INT
	,@pComment							VARCHAR(1000)
	,@pClientAuditRebuttalStatusID		TINYINT
    ,@pEmployeeID						INT
	,@pQualityScore						DECIMAL(5,2)
AS
BEGIN
	/* SET NOCOUNT ON added to prevent extra result sets from
	   interfering with SELECT statements.
	*/
	SET NOCOUNT ON;
	set XACT_ABORT on
	DECLARE 
			 @AgentRA			INT
			,@AgentID			INT
			,@givenDate			DATE
			,@workingDate		DATE
			,@ProcedureName		VARCHAR(100) = 'spNGQMS_SaveClientFeedbackRebuttalDetail'
			,@TableName			VARCHAR(100)
			,@ErrorMessage		VARCHAR(MAX)
			,@UpdatedOnIST		DATETIME=HRMS.dbo.fnhrms_convertist(GETDATE())
			,@ProjectGroupID	INT
			,@AuditFormID		INT
			,@Vertical			CHAR(2);


	SET @givenDate=CONVERT(date,@UpdatedOnIST);

	EXECUTE [NexGenQMS].[dbo].[spNGQMS_GetWorkingDate] @givenDate,@workingDate OUTPUT

	SELECT 
		@AgentRA=ReportingAuthorityID 
	FROM HRMS.dbo.tblEmployees 
	WHERE EmployeeID=@PEmployeeID

	SELECT @AgentID= AssignedTo 
	FROM tblClientAuditRebuttalHistories
	WHERE ClientAuditRebuttalStatusFromID=5;

	SELECT 
		@AuditFormID=AU.AuditFormID
	 FROM NexgenQMS.dbo.tblAuditUploads AU
		  INNER JOIN tblAuditUploadAccounts AUA
			ON AU.AuditUploadID=AUA.AuditUploadID
	 WHERE AUA.AuditUploadAccountID=@pAuditUploadAccountID;

	 SELECT @ProjectGroupID=ProjectGroupID 
	 FROM NexgenQMS.dbo.tblPGAuditForms
	  WHERE AuditFormID=@AuditFormID;

	SELECT  
		@Vertical=cd.vertical
	FROM Nexgen.dbo.tblcodingdatabases cd
		INNER JOIN nexgen.dbo.tblprojectgroups pg
			ON pg.databaseid=cd.databaseid
		INNER JOIN nexgenqms.dbo.tblpgauditforms af
			ON af.projectgroupid=pg.projectgroupid
	WHERE cd.vertical IN('FC','PC')
			AND af.AuditFormID=@AuditFormID;

	IF (EXISTS(SELECT TOP 1 1 FROM tblClientAuditRebuttalHistories WHERE AuditUploadAccountID=@pAuditUploadAccountID AND ISNULL(ClientAuditRebuttalStatusID,0)=9))
	BEGIN
		SELECT 
		1 Errorcode
		,'Account has been uploaded with no error. Please click ''Skip to Next'' button or  refresh the page to continue the rebuttal process.' Errorstatus
		FOR JSON PATH;
		RETURN;
	END 

	BEGIN TRY
		BEGIN TRAN

	--Agent Accepted then
	IF(@pClientAuditRebuttalStatusID=2)
	BEGIN
		UPDATE tblClientAuditRebuttalHistories
		SET 
			 RebuttalComments=@pComment
			,ActionTakenOnIST=@UpdatedOnIST
			,ClientAuditRebuttalStatusID=2
		WHERE AuditUploadAccountID=@pAuditUploadAccountID
			AND ActionTakenOnIST IS NULL

		UPDATE tblClientAuditRebuttals
		SET 
			 RebuttalComments=@pComment
			,ActionTakenOnIST=@UpdatedOnIST
			,ClientAuditRebuttalStatusID=2
		WHERE AuditUploadAccountID=@pAuditUploadAccountID

		-- for forcing details.
		EXECUTE NexgenQMS.[dbo].[spNGQMS_PostPendingAccountDetails] 
			@ProjectGroupID,@AuditFormID,@pAuditUploadAccountID,0,1,0,'CR',0;

		SELECT 
		0 Errorcode
		,'Inserted successfully' Errorstatus
		FOR JSON PATH;
	END

	--Agent Rebutted then
	IF(@pClientAuditRebuttalStatusID=1)
	BEGIN

	/***** For No Error Account Update Starts ******/
	IF EXISTS(SELECT 1 FROM tblAuditUploadAccounts WHERE AuditUploadAccountID = @pAuditUploadAccountID AND (@Vertical='FC' OR @Vertical='PC') AND IsError=0)
	BEGIN
		UPDATE tblClientAuditRebuttalHistories
		SET 
			 RebuttalComments=@pComment
			,ActionTakenOnIST=@UpdatedOnIST
			,ClientAuditRebuttalStatusID=1
		WHERE AuditUploadAccountID=@pAuditUploadAccountID
			AND ActionTakenOnIST IS NULL

		UPDATE tblClientAuditRebuttals
		SET 
			 RebuttalComments=@pComment
			,ActionTakenOnIST=@UpdatedOnIST
			,ClientAuditRebuttalStatusID=1
		WHERE AuditUploadAccountID=@pAuditUploadAccountID

		-- for forcing details.
		EXECUTE NexgenQMS.[dbo].[spNGQMS_PostPendingAccountDetails] 
			@ProjectGroupID,@AuditFormID,@pAuditUploadAccountID,0,1,0,'CR',0;

		SELECT 
		0 Errorcode
		,'Inserted successfully' Errorstatus
		FOR JSON PATH;
	END
	/***** For No Error Account Update Ends ******/
	ELSE
	BEGIN
		UPDATE tblClientAuditRebuttalHistories
		SET RebuttalComments=@pComment
			,ActionTakenOnIST=@UpdatedOnIST
			,ClientAuditRebuttalStatusID=1
		WHERE AuditUploadAccountID=@pAuditUploadAccountID
			AND ActionTakenOnIST IS NULL

		Insert into tblClientAuditRebuttalHistories
		(
		 AuditUploadAccountID
		,AssignedFrom
		,ClientAuditRebuttalStatusFromID
		,AssignedTo
		,AssignedOnIST
		,ClientAuditRebuttalStatusID
		,ForceOnIST
		)
		Values
		(
		@pAuditUploadAccountID
		,@PEmployeeID
		,@pClientAuditRebuttalStatusID
		,@AgentRA
		,@UpdatedOnIST
		,6
		,@workingDate
		)

		UPDATE tblClientAuditRebuttals
		SET 
			 ClientAuditRebuttalStatusFromID=1
			,AssignedFrom=@PEmployeeID
			,AssignedTo=@AgentRA
			,AssignedOnIST=@UpdatedOnIST
			,ActionTakenOnIST=@UpdatedOnIST
			,ClientAuditRebuttalStatusID=6
			,ForceOnIST=@workingDate
		WHERE AuditUploadAccountID=@pAuditUploadAccountID

		-- for forcing details.
		EXECUTE NexgenQMS.[dbo].[spNGQMS_PostPendingAccountDetails] 
			@ProjectGroupID,@AuditFormID,@pAuditUploadAccountID,0,1,@AgentRA,'CR',2;

		SELECT 
		0 Errorcode
		,'Inserted successfully' Errorstatus
		FOR JSON PATH;
	END
		
	END
	IF(@pClientAuditRebuttalStatusID=3)
	BEGIN
		UPDATE tblClientAuditRebuttalHistories
		SET 
			 RebuttalComments=@pComment
			,ActionTakenOnIST=@UpdatedOnIST
			,ClientAuditRebuttalStatusID=3
		WHERE AuditUploadAccountID=@pAuditUploadAccountID
			AND ActionTakenOnIST IS NULL

		UPDATE tblClientAuditRebuttals
		SET 
			 RebuttalComments=@pComment
			,ActionTakenOnIST=@UpdatedOnIST
			,ClientAuditRebuttalStatusID=3
		WHERE AuditUploadAccountID=@pAuditUploadAccountID

		--insert into the ClientAuditRebuttalFeedback
		IF NOT EXISTS(SELECT 1 FROM tblClientAuditRebuttalFeedbacks 
					WHERE AuditUploadAccountID=@pAuditUploadAccountID)
		BEGIN
			INSERT INTO tblClientAuditRebuttalFeedbacks
			(AuditUploadAccountID,	AssignedTo,HasRead,	AssignedOnIST,ReadOnIST)
			VALUES(@pAuditUploadAccountID,@AgentID,0,@UpdatedOnIST,NULL)
		END

		UPDATE tblAuditUploadAccounts
		SET QualityScore=@pQualityScore
			,IsError=0
		WHERE AuditUploadAccountID=@pAuditUploadAccountID;

		-- for forcing details.
		EXECUTE NexgenQMS.[dbo].[spNGQMS_PostPendingAccountDetails] 
			@ProjectGroupID,@AuditFormID,@pAuditUploadAccountID,0,1,0,'CR',0;

		SELECT 
		0 Errorcode
		,'Inserted successfully' Errorstatus
		FOR JSON PATH;
	END

	-- Client Rebutted then
	IF(@pClientAuditRebuttalStatusID=4)
	BEGIN
		UPDATE tblClientAuditRebuttalHistories
		SET 
			 RebuttalComments=@pComment
			,ActionTakenOnIST=@UpdatedOnIST
			,ClientAuditRebuttalStatusID=4
		WHERE AuditUploadAccountID=@pAuditUploadAccountID
			AND ActionTakenOnIST IS NULL

		UPDATE tblClientAuditRebuttals
		SET 
			 RebuttalComments=@pComment
			,ActionTakenOnIST=@UpdatedOnIST
			,ClientAuditRebuttalStatusID=4
		WHERE AuditUploadAccountID=@pAuditUploadAccountID

		--insert into the ClientAuditRebuttalFeedback
		IF NOT EXISTS(SELECT 1 FROM tblClientAuditRebuttalFeedbacks 
					WHERE AuditUploadAccountID=@pAuditUploadAccountID)
		BEGIN
			INSERT INTO tblClientAuditRebuttalFeedbacks
			(AuditUploadAccountID,	AssignedTo,HasRead,	AssignedOnIST,ReadOnIST)
			VALUES(@pAuditUploadAccountID,@AgentID,0,@UpdatedOnIST,NULL)
		END

		-- for forcing details.
		EXECUTE NexgenQMS.[dbo].[spNGQMS_PostPendingAccountDetails] 
			@ProjectGroupID,@AuditFormID,@pAuditUploadAccountID,0,1,0,'CR',0;


		SELECT 
		0 Errorcode
		,'Inserted successfully' Errorstatus
		FOR JSON PATH;
	END

	COMMIT TRAN
	END TRY

	BEGIN CATCH
		ROLLBACK TRAN;
		SELECT @ErrorMessage=ERROR_MESSAGE();		
		EXEC NexgenQMS.dbo.[spNGQMS_InsertNexgenQMSErrorLog]  @ProcedureName
												   ,''
												   ,@ErrorMessage
												   ,@pEmployeeID
												   ,@UpdatedOnIST;
		 
		SELECT 
			-1 Errorcode
			,'Insert Failed' Errorstatus
			--,@ErrorMessage as err
		FOR JSON PATH 		
   
	END CATCH;	
			
END

