USE [NexgenQMSParallon]
GO
/****** Object:  StoredProcedure [FCInpParallonIPCAC].[spNGQMS_GetClientRebuttalAccountColumnDetail]    Script Date: 5/27/2026 11:57:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR	  	: Eswaran.P
-- CREATE DATE	: 27-10-2017
-- DESCRIPTION	: To fetch client rebuttal account column details

-- DEPENDENCY	: 
-- *********************    
-- TYPE					RESPONSIBLE BY   	CALLED BY    
-- PAGE					Eswaran.P			Rebuttal Configuration		

-- MODIFICATION HISTORY:    
-- *********************    
-- DATE					MODIFIED BY			CHANGE DESCRIPTION    
-- DD-MMM-YYYY       	Name	     		INITIAL RELEASE
-- =============================================

/*
EXEC [ParallonSDS].[spNGQMS_GetClientRebuttalAccountColumnDetail] 1152,7,'NexGenQMSParallon.ParallonSDS'
*/
ALTER PROCEDURE [FCInpParallonIPCAC].[spNGQMS_GetClientRebuttalAccountColumnDetail]
	 @pAuditFormID				INT,
	 @pAuditUploadAccountID		INT,
	 @pQMSSchemaName			VARCHAR(250)
AS
BEGIN
	/* SET NOCOUNT ON added to prevent extra result sets from
		interfering with SELECT statements.
	*/
	SET NOCOUNT ON ;	
	set XACT_ABORT on
	DECLARE @Columns		NVARCHAR(MAX)='',			
			@SQLQuery		NVARCHAR(MAX)='',
			@TLComment		NVARCHAR(1000)='',
			@AgentComment	NVARCHAR(1000)='',
			@IsError		NVARCHAR='1';

		SELECT	 
		    @Columns = @Columns+'''{"UploadColumnDispalyName":"'+CFC.UploadColumnDisplayName+'",' 
			+'"UploadColumnValue":"'''+',STRING_ESCAPE(AUA.'+UC.UploadColumnName+',''JSON''),'+'''"},'+''''+','	 
		FROM [NexGenQMS].[dbo].[tblPGAuditForms] AF
			INNER JOIN [NexGenQMS].[dbo].[tblPGUploadTemplates] UT
			  ON AF.UploadTemplateID = UT.UploadTemplateID
			INNER JOIN [NexGenQMS].[dbo].[tblClientFeedbackColumns] CFC
			  ON UT.UploadTemplateID = CFC.UploadTemplateID
			INNER JOIN [NexGenQMS].[dbo].[tblUploadColumns] UC
			  ON CFC.UploadColumnID = UC.UploadColumnID
		WHERE AF.AuditFormID = @pAuditFormID
			AND  CFC.ShowInFeedbackScreen = 1	
			ORDER BY CFC.DisplayOrder	
			
		
		SELECT @AgentComment=ISNULL(RebuttalComments,'') 
		FROM tblClientAuditRebuttalHistories	
		WHERE AuditUploadAccountID=@pAuditUploadAccountID 
			AND ISNULL(ClientAuditRebuttalStatusFromID,0)=5

		SELECT @TLComment=ISNULL(RebuttalComments,'') 
		FROM tblClientAuditRebuttals	
		WHERE AuditUploadAccountID=@pAuditUploadAccountID 

		SELECT
		@IsError=(CASE QualityScore WHEN 100 THEN '2' ELSE '1' end)
		FROM tblAuditUploadAccounts	
		WHERE AuditUploadAccountID=@pAuditUploadAccountID 
					
				
		IF @Columns<>''
		BEGIN
		SET @Columns=LEFT(@Columns,LEN(@Columns)-1)
		SELECT @Columns='''{"AccountColumns": ['','+@Columns+',''],"QualityScore":"'''+',AUA.QualityScore,'+'''","IsError":"'+@IsError+'","TLComment":"'+@TLComment+'","AgentComment":"'+@AgentComment+'"}'''
		END
		ELSE
		BEGIN
		SELECT @Columns = '''{"AccountColumns": [],"IsError":"'+@IsError+'","TLComment":"'+@TLComment+'","AgentComment":"'+@AgentComment+'","QualityScore":"'''+',AUA.QualityScore,'+'''"}'''
		END	
		
	SET @SQLQuery = 
		'SELECT 
			 CONCAT('+@Columns+') Audit			
		INTO #tmpAuditdetails
		FROM NexGenQMS.[dbo].[tblPGAuditForms] AF
			INNER JOIN NexGenQMS.dbo.tblAuditUploads AU
				ON AF.AuditFormID=AU.AuditFormID
			INNER JOIN '+@pQMSSchemaName+'.tblAuditUploadAccounts AUA
				ON AU.AuditUploadID=AUA.AuditUploadID			
		WHERE AF.AuditFormID = @pAuditFormID
			AND AUA.AuditUploadAccountID = @pAuditUploadAccountID	
			SELECT  REPLACE(Audit,'',]'','']'') FROM #tmpAuditdetails
		'				

	EXECUTE SP_executesql @SQLQuery,N'@pAuditFormID INT,@pAuditUploadAccountID INT',@pAuditFormID,@pAuditUploadAccountID

END ;



